<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
    <Appenders>
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout
                    pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level %style{%logger{36}}{#ffffff} %msg%n"/>
        </Console>
        <Console name="Tellenn" target="SYSTEM_OUT">
            <PatternLayout
                    pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level %style{%logger{36}}{#5c185c} &#x9;%msg%n"
                    disableAnsi="false"/>
        </Console>
        <Console name="Cloud" target="SYSTEM_OUT">
            <PatternLayout
                    pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level %style{%logger{36}}{#9e111d} &#x9;%msg%n"
                    disableAnsi="false"/>
        </Console>
        <Console name="Kepo" target="SYSTEM_OUT">
            <PatternLayout
                    pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level %style{%logger{36}}{#1a5e06} &#x9;%msg%n"
                    disableAnsi="false"/>
        </Console>
        <Console name="Aerith" target="SYSTEM_OUT">
            <PatternLayout
                    pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level %style{%logger{36}}{#008080} &#x9;%msg%n"
                    disableAnsi="false"/>
        </Console>
        <Console name="Evandra" target="SYSTEM_OUT">
            <PatternLayout
                    pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level %style{%logger{36}}{#918409} &#x9;%msg%n"
                    disableAnsi="false"/>
        </Console>
    </Appenders>

    <Loggers>
        <logger name="Tellenn" level="ALL" additivity="false">
            <appender-ref ref="Tellenn"/>
        </logger>
        <logger name="Cloud" level="ALL" additivity="false">
            <appender-ref ref="Cloud"/>
        </logger>
        <logger name="Kepo" level="ALL" additivity="false">
            <appender-ref ref="Kepo"/>
        </logger>
        <logger name="Aerith" level="ALL" additivity="false">
            <appender-ref ref="Aerith"/>
        </logger>
        <logger name="Evandra" level="ALL" additivity="false">
            <appender-ref ref="Evandra"/>
        </logger>
        <Root level="trace">
            <AppenderRef ref="console"/>
        </Root>
    </Loggers>
</Configuration>